
.CurrentTime {
  color: rgba(255, 255, 255, 0.9);
}

.PopoutButton {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  width: 150px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);

  background-color: transparent;
}

.PopoutButton:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline-color: transparent;
  outline-offset: 12px;
}
