
.ValveCtrlFrame{
    width: 800px;
}

.ValveCtrlElement{
    display: flex;
}

.ValveCtrlElement div{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: rgba(255,255,255,0.9);
    width: 50px;
};

/*
.ValveCtrlElement .ValveCtrlElement:first-of-type{
    
}
*/

.Id{
    flex-basis: 100px;
    width: 100px;
}
    
    

