
@font-face {
  font-family: 'SpaceFont';
  src: url('./space age.ttf');
} /* ソース：https://www.dafont.com/space-age.font?text=AQT-I&back=theme */


.App {
  text-align: center;
  width: 1640px;
}

/*.App-logo {
  height: 40vmin;
}*/

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  font-size: calc(20px + 2vmin);
  color: rgba(255,255,255,0.9);

  font-family: 'SpaceFont';
  font-style: normal;
  font-weight: normal;
}

.App-title{
  width: 1600px;
  height: auto;
  margin: auto;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;

  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-shadow:0 0 40px rgba(255,255,255,0.5);

  color: rgba(255,255,255,0.6);

  /*filter: drop-shadow(0 0 40px rgba(255,255,255,0.5));*/
}

.Test-body{
  width: 1600px;
  height: auto;
  margin: auto;
}

.Image-SystemDiagram{  
  background-color: transparent;
  width: 90%;
  height: auto;
}

.Box-SystemDiagram{
  width: 40%;
  height: auto;
}

.valve0{
  fill: green;
}

.valve1{
  fill: red;
}

/*.App-link {
  color: #09d3ac;
}*/
