
@font-face {
  font-family: 'SpaceFont';
  src: url('./Materials/space age.ttf');
} /* ソース：https://www.dafont.com/space-age.font?text=AQT-I&back=theme */


.App,.Sub {
  background-color: #282c34;
  background-image:
    radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 20px 20px;
}

.App {
  min-width: 1640px;
}

.Sub {
  min-width: 400px;
  min-height: 400px;
}

/*.App-logo {
  height: 40vmin;
}*/


.Main-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;

  color: rgba(255,255,255,0.9);

  background-color: transparent;
}

.Main-title{
  width: 1600px;
  height: auto;
  margin: auto;

  font-family: 'SpaceFont';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align:center;
  letter-spacing: 0.2em;
  text-shadow:0 0 10px rgba(255,255,255,0.6);
}


.Main-body {
  min-height: 100vh;

  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 15px;

  color: rgba(255,255,255,0.6);

  /*background-color: transparent;*/

  /*filter: drop-shadow(0 0 40px rgba(255,255,255,0.5));*/

}

.Image-SystemDiagram{  
  background-color: transparent;
  width: 90%;
  height: auto;
}

.Box-SystemDiagram{
  width: 40%;
  height: auto;
}

.valve0{
  fill: green;
}

.valve1{
  fill: red;
}

/*.App-link {
  color: #09d3ac;
}*/

button.CmdButton {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  padding: 1em 2em;
  margin: 0em 1em;
  background: rgba(173, 239, 255, 0.6);
  border: none;
  transition: .2s;
}

button.CmdButton:active {
  border: 1px rgba(173, 239, 255, 0.6);
  background: 1px rgba(173, 239, 255, 0.2);
  transition: .0s;
}

button.CmdButton:focus {
  outline:0;
}